@import "tailwindcss";
@plugin "daisyui";
@import "@heroui/styles"; 

/* @keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee {
  display: inline-block;
  animation: marquee 20s linear infinite;
} */



.marquee {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.marquee-track {
  display: flex;
  width: max-content;
  animation: scroll 25s linear infinite;
}

.marquee:hover .marquee-track {
  animation-play-state: paused;
}

.item {
  margin: 0 2rem;
  white-space: nowrap;
  font-size: 0.95rem;
  opacity: 0.9;
  transition: opacity 0.3s;
}

.item:hover {
  opacity: 1;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}